{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Swingout.Dance - {% block title %}Discover Dance Communities{% endblock %}</title>
  <meta name="description" content="Enables discovering dance communities around the world">
  <meta name="author" content='Michael Smith<"michael.smith.ok@gmail.com">'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="{% static 'public/index.css' %}">
  {% block head %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
</body>
</html>
