{% extends "../base.html" %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{% endblock %}

{% block content %}
    <div id='map'></div>
    
    <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="welcomeModalLabel">{% translate 'Welcome' %}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>
                    {% translate "Swingout.Dance aims to help people discover dancing communities around the world. We welcome everyone to join us in making it better!" %}
                </p>
                <p>
                    {% translate "Add new communities by tapping on that city and clicking add, and send us suggestions using the email address in the bottom corner. Email us if you would like to help translate this site into new languages. Developers can find the source code by following the Github link in the bottom corner." %}
                </p>
                <p>
                    {% translate "Please enjoy, and help us spread the word!" %}
                </p>
            </div>
          </div>
        </div>
      </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script>
        const map = L.map('map')
            .setView([35.467312, -97.467633], 3);
        if (!window.location.hash) {
            map.locate({setView: true, maxZoom: 8});
        }

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a target="_blank" href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> | <a target="_blank" href="https://github.com/smwa/swingout/">github.com</a> | <a target="_blank" href="mailto:admin@swingout.dance">admin@swingout.dance</a> | <a href="javascript:;" data-toggle="modal" data-target="#welcomeModal">{% translate "Welcome" %}</a>',
            maxZoom: 12,
            minZoom: 2,
        }).addTo(map);

        // Show welcome modal
        const visitedCookieName = 'visited0'; // Bump this number for welcomeModal changes
        if (document.cookie.indexOf(`${visitedCookieName}=true`) == -1) {
            const thirtydays = 1000*60*60*24*30;
            const expires = new Date((new Date()).valueOf() +  thirtydays);
            document.cookie = `${visitedCookieName}=true;expires=` +  expires.toUTCString();
            $('#welcomeModal').modal();
        }

        const htmlEncode = (string) => {
            return string.replace(/[\u00A0-\u9999<>\&]/g, function(i) {
                return '&#'+i.charCodeAt(0)+';';
            });
        }

        let communities = [];

        fetch("{% url 'communities:index' %}")
            .then(response => response.json())
            .then((data) => { communities = data.communities; return data; })
            .then(data => {
                const hash = window.location.hash.replace('#', '');
                for (const communityIndex in data.communities) {
                    const community = data.communities[communityIndex];

                    const header = document.createElement('h3');
                    header.innerText = community.label;

                    const link = document.createElement('a');
                    link.innerText = community.url.replace('http://', '').replace('https://', '');
                    link.setAttribute('target', '_blank');
                    link.setAttribute('href', community.url);

                    const structureLabel = document.createElement('h6');
                    structureLabel.innerText = community.structure;

                    let html =
                      `<div style="font-size: 125%">`
                        + `<div>`
                            + `${header.outerHTML}`
                            + `${structureLabel.outerHTML}`
                            + `<h5>${link.outerHTML}</h4>`
                        + `</div>`
                        + `<div>`
                        + `${community.styles.map((style) => `<span class="badge badge-secondary">${style}</span>`).join(' ')}`
                        + `</div>`
                        + `<div style="padding-top: 0.4em;">`
                            + `<a href='{% url 'communities:requestUpdate' %}/${community.uuid}'>`
                                + `{% translate 'Need to make a change?' %}`
                            + `</a>`
                        + `</div>`
                    + `</div>`;

                    const thisCommunityHash = `${community.uuid}`;
                    const marker = L.marker([community.latitude, community.longitude], {
                            title: community.label,
                            alt: community.label,
                        })
                        .on('popupopen', () => {
                            if(history.pushState) {
                                window.history.replaceState(null, null, '#' + thisCommunityHash);
                            }
                            else {
                                window.location.hash = thisCommunityHash;
                            }
                        })
                        .on('popupclose', () => {
                            window.location.hash = '';
                        })
                        .bindPopup(html)
                        .addTo(map);
                    if (hash === thisCommunityHash) {
                        marker.openPopup();
                        map.setView([community.latitude, community.longitude], 8);
                    }
                }
            });

        let pointer = null;

        function onMapClick(e) {
            if (pointer == null) {
                pointer = L.popup()
                    .setLatLng(e.latlng)
                    .setContent(`<h5><a href='{% url 'communities:add' %}/${e.latlng.lat}/${e.latlng.lng}'>{% translate 'Add a community here?' %}</a></h5>`)
                    .openOn(map);
            } else {
                pointer = null;
            }
        }

        map.on('click', onMapClick);
    </script>
{% endblock %}
