{% extends "../base.html" %}
{% load i18n %}

{% block title %}{% translate 'Map' %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{% endblock %}

{% block content %}
    <div id='map'></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script>
        const map = L.map('map')
            .setView([35.467312, -97.467633], 3)
            .locate({setView: true, maxZoom: 9});

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a target="_blank" href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> | <a target="_blank" href="https://github.com/smwa">smwa@github</a> | <a target="_blank" href="mailto:admin@swingout.dance">admin@swingout.dance</a>',
            maxZoom: 12,
            minZoom: 3,
        }).addTo(map);

        const htmlEncode = (string) => {
            return string.replace(/[\u00A0-\u9999<>\&]/g, function(i) {
                return '&#'+i.charCodeAt(0)+';';
            });
        }

        fetch("{% url 'communities:index' %}")
            .then(response => response.json())
            .then(data => {
                for (const communityIndex in data.communities) {
                    const community = data.communities[communityIndex];

                    const header = document.createElement('h4');
                    header.innerText = community.label;

                    const link = document.createElement('a');
                    link.innerText = community.url.replace('http://', '').replace('https://', '');
                    link.setAttribute('target', '_blank');
                    link.setAttribute('href', community.url);

                    const linkWrapper = document.createElement('h6');
                    linkWrapper.appendChild(link);

                    let html = `<div>${header.outerHTML}${linkWrapper.outerHTML}</div><div><p><a href='{% url 'communities:requestUpdate' %}/${community.uuid}'>{% translate 'Need to make a change?' %}</a></p></div>`;

                    L.marker()
                        .setLatLng([community.latitude, community.longitude])
                        .bindPopup(html)
                        .addTo(map);
                }
            });

        let pointer = null;

        function onMapClick(e) {
            if (pointer == null) {
                pointer = L.popup()
                    .setLatLng(e.latlng)
                    .setContent(`<a href='{% url 'communities:add' %}/${e.latlng.lat}/${e.latlng.lng}'>{% translate 'Add a community here?' %}</a>`)
                    .openOn(map);
            } else {
                pointer = null;
            }
        }

        map.on('click', onMapClick);
    </script>
{% endblock %}
